@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    height: 100%;
}

@layer base {
  /* Remove os controles do input do tipo number */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
  }
}